
body{
  overflow-x: hidden;
  display: block;
}

*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
}

h2 {
  color: rgb(255, 0, 0);
  text-align: left;
  font-size: 40px;
}

/*Header section*/

.navbar {
  position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
   
    border: 2px solid #ffffff00;
  }
  
  .a-navbar{
      display: inline;
      padding: 20px;
     float: right;
     
  }


/*menu section*/


.slider{

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px;
  border: 1px solid #e60c0c;
}
.sliderpadding{
  padding: 20px;
}



/*Happy meal section*/

.happymeal {
  padding: 100px;
  border: 1px solid #e60c0c;
  background: url("../images/happymealbg.jpg");

}

.happymealheader {
  color: red;
}
/*Restaurant section*/
.restaurnt {
 

  padding: 500px;
  border: 1px solid #e60c0c;
  left:-75px !important;
  
 
  
}





/*Delivery section*/

.delivery {
  padding: 100px;
  border: 1px solid #e60c0c;
 box-sizing: border-box;
}

.dilright{
  background: url("../images/mc-delivery.jpg");
  z-index:25;
  background-repeat: no-repeat;
  float:right;

}





.ordernow {
  background-color: #e20000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover{
  background-color: #3d0c0c;
}
/*News section*/

.news {
  background: url("../images/happymealbg.jpg");
 
  padding: 300px;
  border: 1px solid #ff0000;
}




.cards{
  display: flex;
  gap: 200px;
  margin-top: 50px;
  justify-content: space-between;
}



.card{
  width: 250px;
  height: 340px;
  background-color: #FFBC0D;
  box-sizing: content-box;
  margin-right: 30px;
}


.card-pic{
position: relative;

}

.card-img{
  width: 100%;
}

.card-label{
  background-color: #DB0007;
  display: inline-block;
  color: #fdfdfd;
  text-transform: uppercase;
  padding: 5px 40px;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.card-desc{
  padding: 20px;
  margin-top: 5px;
}








/*Footer section*/


footer {
  padding: 100px;
  background: url("../images/happymealbg.jpg");
}

.copyright{
  display: flex;
  margin-bottom: 10px;
}
.follow {
  background-color: #ffd900;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.instaborder {
  margin: 20px;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(20% + 50px);
  background: #00b7ad;
  flex-wrap: wrap;
}


.space {
  padding: 50px;
 
}

.social {
  display:flex;
  
}

.horizontal + a {
  border:#000000
}

.footerlinks{
  color:#000000;

}

.footerlinks:hover{
  color:red;
}
